.navbar {
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.logo {
  cursor:pointer
}
.logo:hover {
  opacity: 0.8;
}

.pawbnb-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333333;
  font-family: $body-font
}

.pawbnb-logo-light {
  font-size: 1.5rem;
  font-weight: 300;
  color: #333333;
  font-family: $body-font
}

.paw {
  font-size:1.2rem;
}
